*,
*::before,
*::after {
    box-sizing: border-box;
}
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: #d3d3d3;

}

fieldset {
    border: 5px solid #6f0303;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #1107a8;
    padding: 0 10px;
}

input,
select,
textarea {
    font-size: 1.25em;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.code {
    background-color: #09014b;
    color: #f3f3f3;
    font-family: monospace;
    padding: 5px;
    border-radius: 3px;
}